.sobre {
    align-items: left !important;
    height: auto;
    padding: 5px 5px;
    gap: 10px;
}

.sobre > img {
    opacity: 0;
    object-fit: contain;
    width: auto;
    height: 40vh;
    border-radius: 20px;
    border:8px solid var(--preto);
    box-shadow: 10px 8px 10px 1px gray;
}

.contentDesc { 
    width: 95%;
    height: 60%;
    justify-content: left !important;
    gap: 10px;
}

.contentDesc > h1 {
    opacity: 0;
    color: var(--vermelhoPokeball);
    font-size: 1.6em;
}

.contentDesc > p {
    opacity: 0;
    font-size: 1em;
}

/*  */

.devImages {
    height: auto;
}

.devImages > h1 {
    opacity: 0;
    color: var(--vermelhoPokeball);
    font-size: 1.6em;
    text-align: center;
    padding: 10px;
}

.images {
    height: 70vh;
    padding: 5px 5px;
    position: relative;
}

.images > img {
    object-fit: cover;
    width: 60%;
    height: 40%;
    border-radius: 20px;
    background-color: gray;
    opacity: 0;
    border:8px solid var(--preto);
    box-shadow: 10px 8px 10px 1px gray;
}

.imageDev1 {
    position: absolute;
    top: 2vh;
    left: 2vw;
    z-index: 1;
}

.imageDev2 {
    position: absolute;
    top: 15vh;
    right: 2vw;
    z-index: 2;
}

.imageDev3 {
    position: absolute;
    top:32vh;
    left: 2vw;
    z-index: 3;
}

/* Inicio Estilos do Contact */

.contact {
    height: 70vh;
    position: relative;
}

.imgAnimationContact {
    width: 100%;
}

.imgAnimationContact > img {
    object-fit: cover;
    width: auto;
    height: 80%;
}

.contentContacts {
    padding: 10px 10px;
    position: absolute;
    height: 80%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.733);
    width: 90%;
    gap: 10px;
}

.logoContact {
    height: 20%;
    padding: 10px;
    gap: 10px;
    opacity: 0;
}

.logoContact > img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.logoContact > h1 {
    font-size: 1.6em;
    color: var(--branco);
}

.contentContacts > a {
    width: 90%;
    height: 6vh;
    border-radius: 10px;
    position: relative;
    font-size: 1em;
    font-weight: bold;
    color: var(--branco);
    text-decoration: none;
    opacity: 0;
}

.contentContacts > a > img {
    position: absolute;
    left: 4vw;
    width: 25px;
    height: 25px;
    object-fit: cover;
}

#linkedin {
    background-color: var(--linkedin);
}

#github {
    background-color: var(--github);
}

#whatsapp {
    background-color: var(--whatsapp);
}

#instagram {
    background-color: var(--instagram);
}

#gmail {
    background-color: var(--gmail);
}

.animate-on-scroll {
    opacity: 1;
}