/* Cards Pokemon */

.pokemons {
    width: 95%;
    height: auto;
    flex-direction: column;
}

.linePokemon {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    display: grid !important;
    padding: 0px 10px;
    width: 95%;
}

.cardPokemon {
    width: 100%;
    height: 20vh;
    border-radius: 20px;
    padding: 10px 6px;
    flex-direction: column;
}

.dados {
    height: 20%;
    font-size: 0.8em;
    color: var(--branco);
    font-weight: bold;
    position: relative;
}

.name, .id {
    position: absolute;
    height: auto;
    padding: 5px 5px;
}

.name {
    left: 0vw;
}

.id {
    right: 0vw;
}

.contentPokemon {
    height: 80%;
    position: relative;
}

.types {
    padding: 6px 2px;
    align-items: baseline !important;
    justify-content: left !important;
    width: 40%;
    gap: 5px;
    position: absolute;
    left: 0;
    z-index: 2;
    flex-direction: column;
}

.types > span {
    font-size: 0.6em;
    text-align: center;
    padding: 6px 6px;
    border-radius: 20px;
    color: var(--branco);
}

.pokemon {
    width: 60%;
    position:absolute;
    right: 0;
    z-index: 3;
}

.pokemon > img {
    object-fit: cover;
    width: 110%;
    height: 110%;
}

.buttonMore {
    margin-block: 20px;
    width: 85%;
    height: 50px;
    padding: 5px 5px;
    border-radius: 50px;
    background: var(--vermelho);
    color: var(--branco);
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    transition: 0.3s linear;
}

.buttonMore > img {
    object-fit: cover;
    width: auto;
    height: 90%;
    position: absolute;
    left: 1vw;
}

.buttonMore:hover {
    background: var(--preto);
    transition: 0.3s linear;
}

.buttonMore.rotateAnimation > img {
    rotate: 0deg;
    animation: rotateAnimation 1s infinite linear;
}

/* Filters */

.filters {
    width: 90%;
    height: auto;
    background-color: var(--cinza);
    padding: 10px 10px;
    border-radius: 50px;
    margin-block: 20px;
    flex-direction: column;
}

select {
    padding: 5px 5px;
    border-radius: 50px;
}

.filter {
    width: 95%;
    height: auto;
    padding: 10px 5px;
    gap: 10px;
}

.filter > div > span {
    font-weight: bold;
    font-size: 0.9em;
}

.column {
    gap: 5px;
    align-items: baseline !important;
    flex-direction: column;
    width: 50%;
}

/* Detalhes do pokemon */

.detailsPokemon {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: auto !important;
}

.detailsPokemon.actived {
    display: block;
}

.detailsPokemon::-webkit-scrollbar {
    width: 0px;
    height: 0px; 
}

.pokemonDados {
    position: relative;
    align-items: baseline !important;
    flex-direction: column;
    height: 40vh;
}

.backgroundPokemon {
    position: absolute;
    top: 0;
    align-items: baseline !important;
    flex-direction: column;
    height: 90%;
}

.namePokemon {
    position: absolute;
    top: 0;
    height: 30%;
}

.namePokemon > h1 {
    font-size: 1.6em;
    color: var(--branco);
}

.nextPokemon, .backPokemon {
    position: absolute;
    width: 50px;
    height: 50px;
}

.nextPokemon {
    right: 2vw;
}

.backPokemon {
    left: 2vw;
}

.pokedexDados {
    position: absolute;
    bottom: 0;
    justify-content: left !important;
    height: 20%;
    padding-inline: 10px;
    font-weight: bold;
    color: var(--branco);
}

.shinyBtn {
    width: 50px;
    height: 50px;
    background: url('../element/star.png') center / cover no-repeat;
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    cursor: pointer;
    z-index: 2;
}

.pokemonImage {
    position: absolute;
    bottom: 0;
    height: auto;
}

#imagePokemons {
    object-fit: cover;
    height: auto;
    width: 30%;
}

.pokemonImage.shiny::before {
    content: '';
    min-height: 300px;
    min-width: 100px;
    background: url('../element/shiny_effect.gif') center / contain no-repeat;
    display: block;
    position: absolute;
    animation: fadeIn 1s;
}

/* Parte onde contém todos os detalhes do pokemon */

.titleDados {
    font-size: 1.2em;
    color: var(--cinzaText);
}

.dadosPokemon {
    margin-top: 30px;
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.048);
    justify-content: left !important;
}

.heightPokemon, .weight, .typesDetails {
    width: 35%;
    padding-block: 10px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.typesDetails {
    flex-direction: row;
    border-left: 1px solid var(--cinzaText);
    border-right: 1px solid var(--cinzaText);
}

.typesDetails > .type > img {
    width: 30px;
    height: 30px;
}

.type {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.topics, .moviments {
    height: auto;
    padding: 10px 0px;
    padding-inline: 10px;
    gap: 10px;
    font-weight: bold;
    color: var(--cinzaText);
}

.topics > div {
    cursor: pointer;
}

.topics > div.active {
    background: var(--cinza);
    padding: 5px 8px;
    border-radius: 20px;
    color: var(--preto);
}

.infoPokemon {
    height: auto;
    display: flex !important;
    flex-direction: column;
    justify-content: left !important;
    position: relative !important;
}

/* Formas */

.formasPokemon {
    flex-direction: column;
    align-items: baseline !important;
    padding: 10px;
}

.forms {
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left !important;
    flex-direction: column;
    height: auto;
}

.forms > img {
    width: 100%;
    height: auto;
}

.descPokemons {
    margin-top: 10px;
    height: 40%;
    padding: 10px 10px;
    gap: 10px;
}

.descPokemons > p {
    overflow-y: auto;
    font-size: 1em;
    height: 80px;
}

.moviments {
    padding: 10px;
    height: 60%;
    justify-content: left !important; 
}

.movs {
    height: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr); 
}

.movs > span {
    padding: 5px 6px;
    background: var(--cinza);
    border-radius: 50px;
}

.actived {
    display: flex ;
}

/* Statistics */

.statistic {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 15px;
    align-items: baseline !important;
    font-size: 1em;
    color: var(--preto);
    font-weight: bold;
}


.statusStatistics > progress{
    position: absolute;
    right: 2vw;
    height: 4vh;
}

/* Evolutions */

.evolutionPokemon {
    height: auto;
    flex-direction: column;
    align-items: baseline !important;
    padding: 5px;
}

.evolutions {
    gap: 10px;
    padding-block: 20px;
}

.evo-card > img {
    width: auto;
    height: 100px;
    object-fit: cover;
}

/* Animações */

@keyframes rotateAnimation {
    from {
        rotate: 0;
    } to {
        rotate: 360deg;
    }
}
